$offset: 30px;

.NotesWrapper{
	position: relative;
	display:flex;
	flex-direction: row;
	width: calc(100% - #{$offset});
	margin: 0px auto;
}

.NotesWrapper > *{
	margin: 10px 5px;
}


.NoteInfo {

}
